html {
    background-image: url(../images/linux.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
   border-radius: 25px;
}

#dropdown {
    border-radius: 25px;
}

#survey-form {
    display: flex;
    flex-direction: column;
    width: 720px;
    background-color: rgba(27, 27, 50, 0.5);
    border-radius: 20px;
    color: seashell;
}

#group {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 5px;
}

.radio {
    display: flex;
    flex-direction: row;
}